site_name: Documentação SDK Único
site_url: https://gabrieldavid5.github.io/sdkunico/
theme:
  name: material
  custom_dir: material/overrides
  logo: assets/logo.png
  language: pt-BR
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Alterar para modo dark
      primary: black
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Alterar para modo light
      primary: black
      accent: lime
  favicon: assets/favicon.png
  icon:
    logo: logo

plugins:
  - blog
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page tree
nav:
  - Home: index.md
  - Primeiros Passos:
    - SDK Único:
      - primeiros-passos/index.md
    - Processo de Integração: primeiros-passos/etapas.md
    - Configuração do SDK: primeiros-passos/config-sdk.md
    - Projeto Exemplo: primeiros-passos/projeto-exemplo.md
    - Desenvolvimento a Primeira Integração: primeiros-passos/integracao.md
  - Transações:
    - transactions/index.md
    - Crédito à Vista: transactions/credito-a-vista.md
    - Crédito Parcelado: transactions/credito-parcelado.md
    - Débito: transactions/debito.md
    - Voucher: transactions/voucher.md
    - Pix: transactions/pix.md
    - Estorno: transactions/estorno.md
    - Reimpressão: transactions/reimpressao.md
  - O que há de novo?:
    - SDK Único:     
      - releases/index.md
      - "2024":
        - releases/2024-06.md
 

copyright: |
  &copy; 2024 <a href="https://gabrieldavid5.github.io/sdkunico/"  target="_blank" rel="noopener">Linx Cross</a>